<div class="fixed-bottom">
    <ul class="nav nav-pills nav-justified footer">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="nav-active"><i class="fe-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="nav-active"><i class="fe-user"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/history" routerLinkActive="nav-active"><i class="fe-rotate-ccw"></i></a>
        </li>
    </ul>
</div>
